  .header__active-menu-item {
    color: inherit;
    text-decoration: none;
  }
  @media(min-width: 990px) {
    .header-wrapper--border-bottom {
        border-bottom: none;
    }
    .header--top-left {
        grid-template-areas: "heading icons"
    "navigation navigation";
        grid-template-columns: max-content 1fr max-content;
        padding-block: 12px;
    }
    .header--top-left .header__search {
        display: inline-block !important;
    }
    .header--top-left .header__search {
        grid-area: unset;
    }
    .header--top-left .header__icons {
        grid-area:  inherit;
    }
    .header--top-left ~ .header__inline-menu {
        grid-column: 1/-1;
        justify-self: center;
        min-width: 100%;
        background-color: #723342;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-menu__item {
        align-items: center;
        line-height: 130%;
        display: inline-block;
        position: relative;
        padding: 1.7rem 0;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--white);
        font-family: var(--font-body-family);
        position: relative;
    }
    .list-menu__item::before {
      position: absolute;
      content: '';
      width: 0;
      height: 4px;
      /* background-color: var(--primary-color); */
      background-color: #FFFFFF;
      left: 0;
      top: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0;
    }
    .list-menu__item::after {
      position: absolute;
      content: '';
      width: 0;
      height: 4px;
      /* background-color: var(--primary-color); */
      background-color: #FFFFFF;
      right: 0;
      bottom: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0;
    }
    .header__inline-menu li {
      margin: 0 20px;
    }
    .header__inline-menu li:hover .list-menu__item:before, .header__inline-menu li:hover .list-menu__item:after {
      width: 100%;
      opacity: 1;
    }
    .header__submenu.list-menu li {
      margin: 0;
    }
    .header__submenu.list-menu li a::before, .header__submenu.list-menu li a::after {
      content: unset;
    }
    .header__submenu.list-menu .list-menu__item {
      color: #000;
    }
    details[open]>.header__menu-item {
      text-decoration: none;
    }
    .mobile__search__icon {
      display: none;
    }
    .mega-menu .mega-menu__list--condensed {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
    .mega__card__content_wrap {
      display: grid;
      grid-template-columns: 3fr 320px;
      @media(min-width: 2000px) {
        grid-template-columns: 3fr 400px;
      }
    }
    .mega__menu__card__ {
        box-sizing: border-box;
        position: relative;
        a.absolute__link {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 1;
        }
        h3 {
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            padding: 15px;
            color: #fff;
            background: #0000003b;
            backdrop-filter: blur(12px);
        }        
        .image__wrap__ {
            line-height: 0;
            box-sizing: border-box;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 4/5;
                transform: scale(1);
                transition: all 0.4s ease-in;                
            }
        }
    }
    a.absolute__link:hover ~ .image__wrap__ img{
        transform: scale(1.05);
        transition: all 0.4s ease-in;
    }
  }


  /* styling for custom search starts ........... */
  .custom__searchbar__wrap {
    max-width: 580px;
    margin: auto;
    min-width: 580px;
    div:empty {
      /* display: block; */
    }
    .search-bar {
      width: 100%;
      /* border: 1px solid #C4C4C4;
      box-sizing: border-box; */
    }

    .search-bar__grid {
      display: grid;
      grid-template-columns: minmax(0,.45fr) minmax(0,1.55fr);
      gap: .75rem;
      align-items: end;
      width: 100%;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 8px;
      position: relative;
      /* overflow: hidden;   */
    }

    .search-bar__field {
      display: flex;
      flex-direction: column;
      gap: .25rem;
      position: relative;
      /* overflow: hidden; */
      box-sizing: border-box;
    }
    .search-bar__field.search-bar__field--category::after {
      position: absolute;
      content: "";
      right: -3.25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #d0d0d0;
      width: 1px;
      height: 20px;
    }
    .search-bar__field.search-bar__field--query {
      position: relative;
    }
    .search-bar__field.search-bar__field--query ::after {
      content: "";
      position: absolute;
    }
    .search-bar__label {
      font-size: 0.875rem;
      line-height: 1.4;
    }

    .search-bar__select,
    .search-bar__input {
      width: 100%;
      /* border-radius: 999px; */
      border: none;
      padding: 0.55rem 0.875rem;
      font-size: 16px;
      line-height: 1.5;
      background-color: #ffffff;
      color: inherit;
      font-family: var(--font-family-Body);
      height: 52px;
      color: #333333;
    }
    .search-bar__select {
      background-image: url(https://cdn.shopify.com/s/files/1/0986/7755/5332/files/download.svg?v=1768385862);
      background-repeat: no-repeat;
      background-position: right .75rem center;
      background-size: 16px 12px;
      appearance: none;
      border-radius: 8px 0 0 8px;
      font-weight: 500;
      cursor: pointer;
    }
    .search-bar__select:focus-visible,
    .search-bar__input:focus-visible {
      outline: none;
      box-shadow: unset;
    }

    .search-bar__input-wrap {
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto;
      gap: 0.5rem;
      align-items: center;
    }

    .search-bar__submit {
      cursor: pointer;
      border: none;
      box-shadow: unset;
      padding-right: 24px;
    }

    .search-bar__submit:focus-visible {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }

    .search-bar__submit-label {
      display: inline-block;
    }
  }

  .search-bar__results[hidden] {
    /* display: none; */
  }
  .search-bar__results {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.25rem;
    max-height: 45rem;
    overflow-y: auto;
    border-radius: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(15, 23, 42, 0.2);
    padding: 0.5rem 0.75rem;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    top: 100%;
  }

  .predictive__search__group--hidden {
    display: none;
  }
  .predictive__search__categories, .predictive__search__products{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: stretch;
      gap: 12px;
      * {
        text-align: center;
      }
  }
  .predictive__search__group-title,  .predictive__search__group-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #000;
    margin-bottom: .25rem;
    grid-column: 1/-1;
  }

  .search-bar__result-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.4rem 0.4rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-radius: 0.5rem;
  }
  predictive-search .search-bar__results{
    display: none;
  }
  predictive-search[open='true'] .search-bar__results{
    display: flex;
  }
  .search-bar__result-item[aria-selected="true"],
  .search-bar__result-item:hover {
    background-color: rgba(15, 23, 42, 0.04);
  }

  .search-bar__result-title {
    font-size: 14px;
    line-height: 1.4;
  }

  .search-bar__result-meta {
    font-size: 12px;
    opacity: 1;
  }

/* styling for custom search ends ........... */

.header__icon .icon {
    width: 30px;
    height: 30px;
    fill: none;
    vertical-align: middle;
}
svg.icon.icon-hamburger,  svg.icon.icon-close{
  height: 16px;
  width: 16px;
}

  @media(max-width: 989px) {
    .header {
        position: relative;
    }
    .custom__searchbar__wrap {
        max-width: 100%;
        min-width: unset;
        position: absolute;
        top: 8px;
        left: 50%;
        z-index: 1;
        width: calc(100% - 30px);
        background: #fff;
        transform: translateX(-50%);
        display: none;
    }
  .custom__searchbar__wrap.open {
      display: block;
  }
    .header-wrapper--border-bottom {
      border-bottom: none;
    }
    .mobile__search__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 24px;
          height: 24px;
        }
    }
  }
  header {
    a.header__icon.header__icon--account {
      width: max-content;
      height: auto;
      text-decoration: none;
      span {
        height: unset;
      }
    }
    span.cs_wrap {
      flex-direction: column;
      align-items: start;
    }
    p.cs__name {
        display: block;
        font-family: inherit;
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 500;
        text-transform: capitalize;
        color: #000;
        text-shadow: 0 0 BLACK;
        margin: 0;
    }
      span.cs__tag__ {
          font-family: inherit;
          font-size: 1.5rem;
          line-height: 1;
          font-weight: 500;
          text-transform: capitalize;
          color: #888888;
          margin-top: 5px;
      }
  }
  span.svg__wrapper__link.not_hidden {
    line-height: 0;
    padding-right: 5px;
}