product-card {
  position: relative;
  height: 100%;
  display: block;
  .product-card {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 2;
    &.is--hoverable:hover {
      .card-media {
        .primary_image {
          visibility: hidden;
          opacity: 0;
        }
        .second_image {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .product-card-wrapper {
      height: 100%;
    }

  }

  .card-media {
    position: relative;
    a.absolute__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block !important;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 173/236;
      object-fit: cover;
    }

    .primary_image {
      visibility: visible;
      opacity: 1;
      transition: 0.3s all;
    }

    .second_image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all;
    }
  }

  .card-info {
    padding: 14px 0;
    display: grid;
    gap: 15px;
    .card-wishlist {
      .ruk_rating_snippet {
        color: #906f53;
        i,
        .ruk-rating-snippet-count {
          font-size: 14px;
          line-height: 18px;
        }
        i:before,
        .ruk-rating-snippet-count {
          color: #906f53 !important;
        }
      }
    }

    h4 {
      font-size: 1.7rem;
      line-height: 3rem;
      font-weight: 600;
      color: #000;
      text-transform: capitalize;
      text-align: center;
      margin: 0;
    }
    .card-price {
      margin: 8px 0 0;
      gap: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
     .cnp-regular{
      display: inline-block;
      font-size: 2rem;
      font-weight: 700;
      line-height: 26px;
      /* color: var(--primary-color); */
      color: #723342;
       margin: 0;
     }
     .cnp-compare{
       margin: 0;
       color: var(--Content-Base-main, #1F2937);
      font-family: var(--font-family-Body, "Aktiv Grotesk");
      font-size: var(--Font-Size-Paragraph-Small, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Paragraph-Small, 20px); /* 142.857% */
     }
    }
  }
 .card-qatc-btn {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 8px 12px;
    line-height: 120%;
    -webkit-backdrop-filter: drop-shadow(2px 4px 6px black);
    backdrop-filter: drop-shadow(2px 4px 6px black);
    background: #ffffffb0;
    z-index: 10;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    height: 3.6rem;
    border: 1px solid #FFA41C;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    transition: all 0.3s ease-in-out;
    background-color: #FFD814;
    display: flex;
    gap: 4px;
    max-width: 100%;
    font-family: var(--font-heading-family);
      span {
          line-height: 0;
      }
      svg {
          width: 16px;
          height: 16px;
          path {
            transition: all 0.3s ease-in-out;
          }
      }
    }
  @media screen and (min-width: 1025px) {
    .card-qatc-btn:hover {
      color: var(--white);
      background-color: #FFA41C;
      border-color: #FFA41C;
      path {
        fill: #fff;
        transition: all 0.15s;
      }
    }
  }
  .sale-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 4px 8px;
    background: #906f53;
  }
  .combo__offer {
      background-color: #dc3545;
      color: #fff;
      padding: 5px;
      max-width: max-content;
      margin: 15px auto 0;
      font-family: "Jost", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 140%;
  }  
}
